body {
    background-color: rgb(227, 242, 223);
}
p {
    text-align: center;
    font-size: 25px;
}
h1  {
        text-align: center;
        margin-left: 5;
        text-shadow: #5ec6e8;
}
h2 {    
    text-align: center;
    text-shadow: #5ec6e8;
}
h3 {
    font-size: 20px;
    text-align: center;
}

img {
    border-radius: 150px;
}
.pos {
    margin-left: -300px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    font-size:16px;
    padding: 16px;
    border: none;
}
.dropdown {
    position:relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.pos {
    margin-top: 30px;
}