body {
    background-color: #afd3df;
}
a {
    color: rgb(110, 110, 124);
}

p {
    text-align: center;
    font-size: 20px;
    color: black;
}

h1  {
        text-align: center;
        margin-left: 5;
        text-shadow: #5ec6e8;
        color: black;
}

h2 {    
    text-align: center;
    text-shadow: #5ec6e8;
}

h3 {
    font-size: 20px;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-align: left;
}

h5 {
    font-size: 20px;
    text-align: center;
}

.dropbtn {
    background-color: #030303;
    color: white;
    font-size:16px;
    padding: 16px;
    border: none;
}
.dropdown {
    position:relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.end-interval {
    padding-top: 3%;
}

.tiny-interval {
    padding-top: 1.5%;
}

footer {
    margin: 20px auto;
    text-align: center;
    color: black;
}